/* color palette from <https://github.com/vuejs/theme> */
:root {
  //
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--vscode-scrollbarSlider-background);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--vscode-scrollbarSlider-hoverBackground);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--vscode-scrollbarSlider-activeBackground);
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  
}
